.box {
  width: 100%;
  height: 635px;
}

#box{
  height: 250px;
  width: 100%;
}

#caption1 {
  top: 20%;
  bottom: 0;
  text-align: left;
}

#caption2 {
  top: 20%;
  bottom: 0;
  text-align: left;
}

#caption3 {
  top: 20%;
  bottom: 0;
  text-align: left;
}
